	<header>Atlas of Health Variation in Head and Neck Cancer in England</header>
	<nav class="navbar" role="navigation" aria-label="main navigation">
	<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="myNavbar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
		<div id="myNavbar" class="navbar-start">
           <span id="text"> SEARCH BY :</span>
			<a class="navbar-item" href='/'>Region</a> 
			<a class="navbar-item" href='/HNCancer/sex'>Sex</a> 
			<a class="navbar-item" href='/HNCancer/deprivation'>Deprivation</a>
            <a class="navbar-item" href='/HNCancer/stage'>Stage</a> 
            <a class="navbar-item" href='/HNCancer/route'>Route</a>  
		
		</div> 
	</nav>

    <style>

	header {
		background-color: #2c3e50;
		color: #dee6ed;
		padding: 1.2rem;
		font-size: 2rem;
		height: 90px;
		width: 100%;
	}

	nav {
		background-color: #454b52;
		color: #dee6ed;
		padding: 0 0 0 0.8rem;
		font-size: 1rem;
		height: 30px;
		width: 100%;
	}

	nav a {
		color: #dee6ed;
	} 

    #text {
      margin-top: 15px;
    }