---
import Layout from '../layouts/Layout.astro';
import Header from './header.astro';

---
<Layout>
  <Header />

    <div class="dashboard-container">
        <h1>How to use the Atlas data</h1>
    </div>

</Layout>
