---
import Layout from '../layouts/Layout.astro';
import Header from './header.astro';
---
<Layout>
  <Header />

    <div class="dashboard-container">
        <div class="columns">
            <div class="column is-half">
                <div class="content p-4">
                    <h1>How to use the Atlas of Health Variation</h1>

                    <h2>Searches</h2>
                    <p>The Atlas allows the exploration of datasets from 2016 to 2023. It allows searching on the following criteria:</p>

                    <ul class="has-text-weight-bold">
                        <li>Region</li>
                        <li>Sex</li>
                        <li>Deprivation Level</li>
                        <li>Stage of diagnosis</li>
                        <li>Route (Emergency or non-emergency)</li>
                    </ul>

                    <p>Some factors can be combined to give a finer-grained search. e.g. <span class="is-italic">region, deprivation and sex</span>.</p>
                    <p>The nine English regions are shown opposite.</p>
                    <p>For each search, the cancer type must be selected first, options are:   
                    </p>
                    <ul class="has-text-weight-bold">
                        <li>Head and neck </li>
                        <li>Laryngeal</li>
                        <li>Oral cavity</li>
                        <li>Oropharyngeal</li>
                    </ul>
                    <p>Once the cancer type is chosen, further selections are provided for each main criteria.</p>
        </div>
            </div>
            <div class="column is-half p-4">
                <img src="./images/English_regions.svg.png" width="60%" alt="Map showing the nine English regions"/><br />
                <citation class="is-size-7"> Image source (modified) : Nilfanion and Dr Greg, CC BY-SA 3.0 <https://creativecommons.org/licenses/by-sa/3.0>, via Wikimedia Commons</citation>
            </div>
        </div>
       
    </div>
</Layout>
