---
import Layout from '../layouts/Layout.astro';
import Header from './header.astro';
import CancerTypeSelect from '../components/CancerTypeSelect.astro';
import SexSelect from '../components/SexSelect.astro';
import AgeSelect from '../components/AgeSelect.astro';
import StageCheckboxSelect from '../components/StageCheckboxSelect.astro';
import RouteCheckboxSelect from '../components/RouteCheckboxSelect.astro';
import MultiStageSelect from '../components/MultiStageSelect.astro';
import RegionCheckboxSelect from '../components/RegionCheckboxSelect.astro';
import DepCheckboxSelect from '../components/DepCheckboxSelect.astro';
import PagePanels from '../components/PagePanels.astro';
---

<Layout>
  	<Header />

    <div class="dashboard-container">
        <!- top left: panel area -->
        <div id="panel">

			<h1 class="is-size-3">Search by Cancer Type, Route, Sex and Age</h1>
			<hr/>
  			<h2 class="is-size-5 mb-2">Select your search criteria</h2>
			<form id="stage-search-form">

				<CancerTypeSelect />
                <hr />
                <div class="mb-2 mr-2 has-text-weight-bold">Choose one, both or neither. If neither are selected then the result will be for ALL ROUTES.</div>
				<RouteCheckboxSelect />
				<hr />
				<div class="mb-2 mr-2 has-text-weight-bold">Choose one, both or neither. If neither are selected then the result will be for BOTH SEXES.</div>
				<SexSelect />
				<hr />
				<div class="mb-2 mr-2 has-text-weight-bold">Choose all, some or none. If none are selected then the result will be for ALL AGES.</div>
				<AgeSelect />
				<hr />
                <div class="mb-2 mr-2 has-text-weight-bold">Add one of the following options.</div>
                <MultiStageSelect />
				 <hr />
				<div id="result"></div>
                <hr />
				<div class="mb-2">
					<input class="button" type="submit" value="Search" />
				    <input class="button" type="reset" value="Reset" />
				</div>	
			</form>
		</div>
		<PagePanels />
    </div>

</Layout>


<script>

 	const result = document.getElementById('result') as HTMLInputElement;
	const radio_inputs = document.querySelectorAll("input[type='radio']") as NodeListOf<HTMLInputElement>;

	let radio_input = '';
	result.innerHTML = '<p></p>';

    var radioGroup = document.getElementById('optionSelect') as HTMLFormElement;

   	radioGroup?.addEventListener('change', async (event) => {
		console.log("radio button selected!");

		radio_inputs.forEach(button => {
		if(button && button.checked){
            radio_input = button.value;
			console.log(radio_input);
			
  			if(radio_input === 'dep'){
			
 				result.innerHTML = `<div class="checkboxes">
										<div class="checkboxes">
											<label class="checkbox">
											<input id="imd1ckbox" type="checkbox" />
											IMD1
											</label>
											<label class="checkbox">
											<input id="imd2ckbox" type="checkbox" />
											IMD2
											</label>
											<label class="checkbox">
											<input id="imd3ckbox" type="checkbox" />
											IMD3
											</label>
											<label class="checkbox">
											<input id="imd4ckbox" type="checkbox" />
											IMD4
											</label>
											<label class="checkbox">
											<input id="imd5ckbox" type="checkbox" />
											IMD5
											</label>
											</div>
										</div>
										`;
			} 
			else if (radio_input === 'region'){
				result.innerHTML = `<div class="checkboxes">
										<div class="checkboxes">
											<label class="checkbox">
											<input id="emckbox" type="checkbox" />
											East Midlands
											</label>
											<label class="checkbox">
											<input id="eeckbox" type="checkbox" />
											East England
											</label>
											<label class="checkbox">
											<input id="lockbox" type="checkbox" />
											London
											</label>
											<label class="checkbox">
											<input id="neckbox" type="checkbox" />
											North East
											</label>
											<label class="checkbox">
											<input id="nwckbox" type="checkbox" />
											North West
											</label>
											<label class="checkbox">
											<input id="seckbox" type="checkbox" />
											South East
											</label>
											<label class="checkbox">
											<input id="swckbox" type="checkbox" />
											South West
											</label>
											<label class="checkbox">
											<input id="wmckbox" type="checkbox" />
											West Midlands
											</label>
											<label class="checkbox">
											<input id="yhckbox" type="checkbox" />
											Yorkshire and the Humber
											</label>
											<label class="checkbox">
										</div>
									</div>`;

  			}
			else if (radio_input === 'stage'){
				result.innerHTML = `<div class="checkboxes">
									<label class="checkbox">
										<input id="earlyckbox" type="checkbox" />
										Early Stage
										</label>
										<label class="checkbox">
										<input id="advckbox" type="checkbox" />
										Advanced Stage
										</label>
									</div>`

			}
		} });
	});

	
 
</script>


<style>

#csv-search-form {
	display: flex; 
	gap: 0.5rem; 
	margin-top: 1.5rem;
}

/* A responsive 2x2 grid container */
.dashboard-container {
	display: grid;
	height: 100vh;
	width: 100vw;
	/* splits screen horizontally, favoring left side a little */
	grid-template-columns: 25fr 75fr;
	/* splits screen vertically, favoring the top a little */
	grid-template-rows: 65fr 35fr;
}

#panel {
	padding-left: 20px;
	padding-top: 20px;
}


</style>
