---
// This is Astro's frontmatter
// here you can write regular JavaScript or TypeScript
// It will only run on the server and never executes client-side

import Layout from '../layouts/Layout.astro';
import Header from './header.astro';
import YearSelect from '../components/YearSelect.astro';
import CancerTypeSelect from '../components/CancerTypeSelect.astro';
import SexSelect from '../components/SexSelect.astro';
import RegionSelectOpt from '../components/RegionSelectOpt.astro';
import PagePanels from '../components/PagePanels.astro';
---

<Layout>
  	<Header />

    <div class="dashboard-container">
        <!- top left: panel area -->
        <div id="panel">

			<h1 class="is-size-3">Search by Cancer Type, Stage and Year</h1>
			<hr/>
  			<h2 class="is-size-5 mb-2">Select your search criteria</h2>
			<form id="stage-search-form">

				<CancerTypeSelect />

				<div class="select">
					<select id="stage-input">
						<option disabled selected>Select stage...</option>
						<option = "Early Stage">Early Stage</option>
						<option = "Advanced Stage">Advanced Stage</option>
					</select>
				</div>

				<YearSelect />
				
				<hr />
				<div class="mb-2">Add optional Sex</div>
				<SexSelect />
				<hr />
				<div class="mb-2">Add optional Region</div>
				<RegionSelectOpt />

				<hr />

				<div class="mb-2">
					<input class="button" type="submit" value="Search" />
				    <input class="button" type="reset" value="Reset" />
				</div>	
			</form>
		</div>
		<PagePanels />
    </div>

</Layout>

<script>
  // Import PapaParse directly into your client bundle
	import Papa from 'papaparse';
	import * as echarts from 'echarts';
	import { cancerType, generateTable,  createDownloadFile, setChartOptions } from "../utils/filter";
	import { year_input, stage_input, region_input, male_checkbox, female_checkbox,cancer_type, resultsContainer, resultsContainerTwo, linkContainerOne, linkContainerTwo } from '../types';
	import type { CSVRow } from '../types';

    const chartDom = document.getElementById('csv-chart');
	const myChart = echarts.init(chartDom);
	const stage_form = document.getElementById('stage-search-form') as HTMLFormElement;

  	stage_form?.addEventListener('submit', async (event) => {
    event.preventDefault(); // Stop GitHub Pages from attempting a form redirect
    
    // search only works with case sensitive
	const stage_query = stage_input.value.trim();
    const year_query = year_input.value.trim();

    if (!stage_query || !year_query || !resultsContainer) return;

	var male_input = '';
	var female_input = '';

    // check the checkboxes buttons
	if(male_checkbox && male_checkbox.checked){
		male_input = 'Male';
	} 
	if(female_checkbox && female_checkbox.checked){
		female_input = 'Female';
	}
	/* make unique keys to query with - key_query can hold multiple factors and contain them in one query string. However, to bring back records from both sexes (as opposed to either 'male' or 'female') a second query string is required to bring back a new dataset that can be mapped onto a table. 
	*/
	var key_query = '';
	var key_query_two = '';

	// if only stage has been added
    if (stage_query !== 'Select stage...'  && male_input === '' && female_input === '' && region_input.value === 'Select...'){
		key_query = stage_query + '~';
	}
	// if stage plus region has been added, no sex
	else if(stage_query !== 'Select stage...' && male_input === '' && female_input === '' && region_input.value !== 'Select...'  ){

	    key_query = region_input.value + '/' + stage_query + '*';
	}   
	// if stage plus male sex has been added
	else if(stage_query !== 'Select stage...'  && male_input !== '' && female_input === '' && region_input.value === 'Select...' ){

	    key_query = male_input + '/' + stage_query + '*';
	}
	// if stage plus female sex has been added
	else if(stage_query !== 'Select stage...' &&  male_input === '' && female_input !== '' && region_input.value === 'Select...' ){

	    key_query = female_input + '/' + stage_query + '*';
	}  
	// if stage plus both male and female sex have been added
	else if(stage_query !== 'Select stage...'  && male_input !== '' && female_input !== '' && region_input.value === 'Select...' ){

	    key_query = male_input + '/' + stage_query + '*';
		key_query_two = female_input + '/' +  stage_query + '*';
	}
	// if stage and region plus male sex has been added
	else if(stage_query !== 'Select stage...' &&  male_input !== '' && female_input === '' && region_input.value !== 'Select...' ){

	    key_query = male_input + '/' + region_input.value + '/' + stage_query + '+';
	}  
	// if stage and region plus female sex has been added
	else if(stage_query !== 'Select stage...' &&  male_input === '' && female_input !== '' && region_input.value !== 'Select...' ){

	    key_query = female_input + '/' + region_input.value + '/' + stage_query + '+';
	}  
	// if stage and region plus both male and female sex have been added
	else if(stage_query !== 'Select stage...' &&  male_input !== '' && female_input !== '' && region_input.value !== 'Select...' ){

	    key_query = male_input + '/' + region_input.value + '/' + stage_query + '+';
		key_query_two = female_input + '/' + region_input.value + '/' + stage_query + '+';
	}
	else {
		key_query = stage_query;
	}

    resultsContainer.innerHTML = '<p>Searching records...</p>';

	const CSV_file = cancerType(`${cancer_type.value}`);

    try {
        // get raw CSV data
		const response = await fetch(CSV_file);
		if (!response.ok) throw new Error('Failed to retrieve data file.');
		
		const csvText = await response.text();
		var encodedUri = '';
		
      // parse CSV text directly into JSON format
      Papa.parse<CSVRow>(csvText, {
        header: true, // Uses row 1 keys mapping row values into key-value objects
        skipEmptyLines: true,
        complete: (results) => {
			const matchedItems = results.data.filter(item => 
				item.table?.includes(key_query) &&
				item.diagnosisYear?.toLowerCase().includes(year_query) 
			);

			// declared in case a second query is needed (optional)
			var matchedItemsSecond: CSVRow[] = [];

			// if we have a second search for the female records
			if(key_query_two !== ''){
				matchedItemsSecond = results.data.filter(item => 
				item.table?.includes(key_query_two) &&
				item.diagnosisYear?.toLowerCase().includes(year_query) 
				);
			}
			
			// returned if matching fails
			if (matchedItems.length === 0 && matchedItemsSecond.length === 0) {
				resultsContainer.innerHTML = '<p>No records found matching that query.</p>';			
				return;
			}

			// filter to catch unwanted extra matches where 'male' also brings back 'female' records
			if(matchedItems.length !== 0){
				filterArray(matchedItems, key_query);
			}

			if(matchedItemsSecond.length !== 0){
				filterArray(matchedItemsSecond, key_query_two);
			}

			if (matchedItems){
				// call generateTable function in utils
				resultsContainer.innerHTML = generateTable(matchedItems);
				encodedUri = createDownloadFile(matchedItems);
				linkContainerOne.innerHTML = '<a class="button is-link is-light mb-4" href=' + encodedUri + ' download="' + key_query.slice(0, -1) + '.csv">Download CSV</a>';
			}

		    if (matchedItemsSecond.length !== 0 && resultsContainerTwo != null){
				resultsContainerTwo.innerHTML = generateTable(matchedItemsSecond);
				encodedUri = createDownloadFile(matchedItemsSecond);
				linkContainerTwo.innerHTML = '<a class="button is-link is-light mb-4" href=' + encodedUri + ' download="' + key_query_two.slice(0, -1) + '.csv">Download CSV</a>';
		    }

			// call function to render an echart
			renderChart(matchedItems, matchedItemsSecond, myChart);

			console.log(matchedItems);
			console.log(matchedItemsSecond);
		
        },
        error: (error: Error) => {
          resultsContainer.innerHTML = `<p style="color: red;">Parsing error: ${error.message}</p>`;
        }
      	});

    } catch (err) {
      resultsContainer.innerHTML = '<p style="color: red;">Could not fetch CSV file.</p>';
      console.error(err);
    }
  });


  // function to initialize the EChart
  function renderChart(data: any[], dataSecond: any[], chartInstance: echarts.ECharts) {
    
    const year = data.map((row: { diagnosisYear: any; }) => row.diagnosisYear).filter(Boolean);
    const stage = data.map((row: { table: any; }) => row.table).filter(Boolean);
	// convert object to string for the slice later
    var stageString = stage.toString();

	const option = setChartOptions(data, dataSecond, year, stageString);

    // Set options to render the chart
    chartInstance.setOption(option);

    // Optional: Make the chart responsive to window resizing
    window.addEventListener('resize', () => {
      chartInstance.resize();
    });
  }
</script>

<style>

#csv-search-form {
	display: flex; 
	gap: 0.5rem; 
	margin-top: 1.5rem;
}

/* A responsive 2x2 grid container */
.dashboard-container {
	display: grid;
	height: 100vh;
	width: 100vw;
	/* splits screen horizontally, favoring left side a little */
	grid-template-columns: 25fr 75fr;
	/* splits screen vertically, favoring the top a little */
	grid-template-rows: 65fr 35fr;
}

#panel {
	padding-left: 20px;
	padding-top: 20px;
}


</style>
