---
import Layout from '../layouts/Layout.astro';
import Header from './header.astro';
import CancerTypeSelect from '../components/CancerTypeSelect.astro';
import SexSelect from '../components/SexSelect.astro';
import AgeSelect from '../components/AgeSelect.astro';
import StageCheckboxSelect from '../components/StageCheckboxSelect.astro';
import MultiRouteSelect from '../components/MultiRouteSelect.astro';
import RegionCheckboxSelect from '../components/RegionCheckboxSelect.astro';
import RouteCheckboxSelect from '../components/RouteCheckboxSelect.astro';
import DepCheckboxSelect from '../components/DepCheckboxSelect.astro';
import PagePanels from '../components/PagePanels.astro';
---

<Layout>
  	<Header />

    <div class="dashboard-container">
        <!- top left: panel area -->
        <div id="panel">

			<h1 class="is-size-3">Search by Cancer Type, Stage, Sex and Age</h1>
			<hr/>
  			<h2 class="is-size-5 mb-2">Select your search criteria</h2>
			<form id="stage-search-form">

				<CancerTypeSelect />
                <hr />
                <div class="mb-2 mr-2 has-text-weight-bold">Choose one, both or neither. If neither are selected then the result will be for ALL STAGES.</div>
				<StageCheckboxSelect />
				<hr />
				<div class="mb-2 mr-2 has-text-weight-bold">Choose one, both or neither. If neither are selected then the result will be for BOTH SEXES.</div>
				<SexSelect />
				<hr />
				<div class="mb-2 mr-2 has-text-weight-bold">Choose all, some or none. If none are selected then the result will be for ALL AGES.</div>
				<AgeSelect />
				<hr />
                <div class="mb-2 mr-2 has-text-weight-bold">Add one of the following options.</div>
                <MultiRouteSelect />
                <hr />
                <RegionCheckboxSelect />
                 <hr />
                <DepCheckboxSelect />
                 <hr />
                <RegionCheckboxSelect />
                <hr />
                <RouteCheckboxSelect />
                <hr />
				<div class="mb-2">
					<input class="button" type="submit" value="Search" />
				    <input class="button" type="reset" value="Reset" />
				</div>	
			</form>
		</div>
		<PagePanels />
    </div>

</Layout>

<script>


</script>

<style>

#csv-search-form {
	display: flex; 
	gap: 0.5rem; 
	margin-top: 1.5rem;
}

/* A responsive 2x2 grid container */
.dashboard-container {
	display: grid;
	height: 100vh;
	width: 100vw;
	/* splits screen horizontally, favoring left side a little */
	grid-template-columns: 25fr 75fr;
	/* splits screen vertically, favoring the top a little */
	grid-template-rows: 65fr 35fr;
}

#panel {
	padding-left: 20px;
	padding-top: 20px;
}


</style>
