<div class="select">
    <select id="cancer-type">
        <option disabled selected>Select a type of cancer...</option>
        <option = "HeadNeck">Head and Neck</option>
        <option = "Laryngeal">Laryngeal</option>
        <option = "OralCavity">Oral Cavity</option>
        <option = "Oropharyngeal">Oropharyngeal</option>
    </select>
</div>