<div class="checkboxes">
   <div class="checkboxes">
    <label class="checkbox">
    <input id="imd1ckbox" type="checkbox" />
    IMD1
    </label>
    <label class="checkbox">
    <input id="imd2ckbox" type="checkbox" />
    IMD2
    </label>
     <label class="checkbox">
    <input id="imd3ckbox" type="checkbox" />
    IMD3
    </label>
    <label class="checkbox">
    <input id="imd4ckbox" type="checkbox" />
    IMD4
    </label>
     <label class="checkbox">
    <input id="imd5ckbox" type="checkbox" />
    IMD5
    </label>
    </div>
</div>
