 <div class="mb-2">Add optional deprivation level...</div>
<div class="select">
<select id="deprivation-input">
    <option disabled selected>Select...</option>
    <option = "IMD1">IMD1</option>
    <option = "IMD2">IMD2</option>
    <option = "IMD3">IMD3</option>
    <option = "IMD4">IMD4</option>
    <option = "IMD5">IMD5</option>
</select>
</div>
