<table id="deptable" class="table is-narrow">
    <thead>
        <tr class="cells"><th>Deprivation</th><th>Ranking High to Low</th></tr>
    </thead>
    <tbody>
        <tr><td class="cells">IMD1</td><td class="imd1">Highest level</td></tr>
        <tr><td class="cells">IMD2</td><td class="imd2">High</td></tr>
        <tr><td class="cells">IMD3</td><td class="imd3">Middle</td></tr>
        <tr><td class="cells">IMD4</td><td class="imd4">Low</td></tr>
        <tr><td class="cells">IMD5</td><td class="imd5">Lowest level</td></tr>
    </tbody>
   
</table>

<style>

#deptable {
 padding: 1rem; 
 margin-bottom: 0.5rem; 
 border-radius: 4px; 

}

#deptable, th, td {
    border: 1px solid #aba7a7; 
    border-collapse: collapse;
}

.imd1 {
    background-color: #13ceb8;
}
.imd2 {
    background-color: #42d8c7;
}
.imd3 {
    background-color: #6bddd0;
}
.imd4 {
    background-color: #a4e3db;
}
.imd5 {
    background-color: #cfebe7;
}
.cells {
    background-color: #f7fafc;;
}



</style>