<div id="optionSelect" class="radios">
  <label class="radio">
    <input type="radio" name="multi" value="dep"/>
    Deprivation
  </label>
  <label class="radio">
    <input type="radio" name="multi" value="region"/>
    Region
  </label>
  <label class="radio">
    <input type="radio" name="multi" value="route"/>
    Route
  </label>
</div>