<div class="radios">
  <label class="radio">
    <input type="radio" name="multi" />
    Deprivation
  </label>
  <label class="radio">
    <input type="radio" name="multi" />
    Region
  </label>
  <label class="radio">
    <input type="radio" name="multi" />
    Stage
  </label>
</div>