---
import DeprivationTable from './DeprivationTable.astro';
---

<!-- bottom left, below map -->
<div id="bottom-panel" class="grid-panel">
    <DeprivationTable />    
</div>

<!-- right side, stretches full height -->
<div id="right-panel" class="grid-panel">
    <h2>Main Data Area</h2>

    <!-- Output target container for chart -->
    <div id="csv-chart" style="width: 100%; height: 400px;"></div>

    <!-- Output target containers for tables -->
    <div id="search-results" style="width: 100%;"></div>
    <div id="download-link-table-one"></div>
   <!-- <div id="search-results-two" style="width: 100%; height: 250px;"></div>
    <div id="download-link-table-two"></div>	-->	
</div>

<style>


	/* individual grid panels */
	.grid-panel {
		background: #ffffff;
		border: 1px solid #e2e8f0;
		box-sizing: border-box;
		overflow: auto;
		padding: 20px;
	}
	/* bottom left below the map */
	#bottom-panel {
		grid-column: 1;
		grid-row: 2;
		background: #fff;
	}
    /* right side goes from top to bottom, place for data? */
	#right-panel {
		grid-column: 2;
		grid-row: 1 / span 2;
		background: #fdfdfd;
		border-left: 2px solid #cbd5e0;
	}

	/* responsiveness... */
	@media (max-width: 768px) {
		.dashboard-container {
			display: flex;
			flex-direction: column;
			height: auto;
			overflow-y: auto;
		}
		html, body { overflow: auto; height: auto; }
		#map { height: 400px; }
		#bottom-panel, #right-panel { height: auto; width: 100%; border-left: none; border-top: 1px solid #cbd5e0; }
	}

	
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
		height: 100%;
	}

</style>