<div class="select">
    <select id="region-input">
        <option disabled selected>Select...</option>
        <option = "East Midlands">East Midlands</option>
        <option = "East of England">East of England</option>
        <option = "London">London</option>
        <option = "North East">North East</option>
        <option = "North West">North West</option>
        <option = "South East">South East</option>
        <option = "South West">South West</option>
        <option = "West Midlands">West Midlands</option>
        <option = "Yorkshire and the Humber">Yorkshire and the Humber</option>
    </select>
</div>