<div class="mb-2 mr-2 has-text-weight-bold">Choose all, some or none. If none are selected then the result will be for ALL REGIONS.</div>
<div class="checkboxes">
   <div class="checkboxes">
    <label class="checkbox">
    <input id="emckbox" type="checkbox" />
    East Midlands
    </label>
    <label class="checkbox">
    <input id="eeckbox" type="checkbox" />
    East of England
    </label>
     <label class="checkbox">
    <input id="lockbox" type="checkbox" />
    London
    </label>
    <label class="checkbox">
    <input id="neckbox" type="checkbox" />
    North East
    </label>
     <label class="checkbox">
    <input id="nwckbox" type="checkbox" />
    North West
    </label>
    <label class="checkbox">
    <input id="seckbox" type="checkbox" />
    South East
    </label>
    <label class="checkbox">
    <input id="swckbox" type="checkbox" />
    South West
    </label>
     <label class="checkbox">
    <input id="wmckbox" type="checkbox" />
    West Midlands
    </label>
    <label class="checkbox">
    <input id="yhckbox" type="checkbox" />
    Yorkshire and the Humber
    </label>
     <label class="checkbox">
    </div>
</div>
