<div class="checkboxes">
    <label class="checkbox">
    <input id="emckbox" type="checkbox" />
    Emergency
    </label>
    <label class="checkbox">
    <input id="nonemckbox" type="checkbox" />
    Non-emergency
    </label>
</div>

</div>