<div class="mb-2 mr-2 has-text-weight-bold">Choose one route, or neither. If neither are selected then the result will be for BOTH ROUTES.</div>
<div class="checkboxes">
    <label class="checkbox">
    <input id="emergckbox" type="checkbox" />
    Emergency
    </label>
    <label class="checkbox">
    <input id="nonemergckbox" type="checkbox" />
    Non-Emergency
    </label>
</div>

</div>