<div class="select">
    <select id="sex-input">
        <option disabled selected>Select...</option>
        <option = "Male">Male</option>
        <option = "Female">Female</option>
    </select>
</div>