<div class="checkboxes">
    <label class="checkbox">
    <input id="earlyckbox" type="checkbox" />
     Early Stage
    </label>
    <label class="checkbox">
    <input id="advckbox" type="checkbox" />
     Advanced Stage
    </label>
</div>