 <div class="select">
    <select id="year-input">
        <option disabled selected>Select a year...</option>
        <option = "2016">2016</option>
        <option = "2017">2017</option>
        <option = "2018">2018</option>
        <option = "2019">2019</option>
        <option = "2020">2020</option>
        <option = "2021">2021</option>
        <option = "2022">2022</option>
        <option = "2023">2023</option>
    </select>
</div>

<!-- 
<div class="mb-2 mt-2">Choose years..</div>
 <div class="checkboxes">
    <label class="checkbox">
    <input id="2016kbox" type="checkbox" />
    2016
    </label>
    <label class="checkbox">
    <input id="2017ckbox" type="checkbox" />
    2017
    </label>
    <label class="checkbox">
    <input id="2018kbox" type="checkbox" />
    2018
    </label>
    <label class="checkbox">
    <input id="2019ckbox" type="checkbox" />
    2019
    </label>
    <label class="checkbox">
    <input id="2020kbox" type="checkbox" />
    2020
    </label>
    <label class="checkbox">
    <input id="2021ckbox" type="checkbox" />
    2021
    </label>
    <label class="checkbox">
    <input id="2022kbox" type="checkbox" />
    2022
    </label>
    <label class="checkbox">
    <input id="2023ckbox" type="checkbox" />
    2023
    </label>
-->  
</div>