---
import Footer from '../pages/footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<title>HNCancer</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
		<!-- <script src="https://cdn.jsdelivr.net/npm/echarts@6.1.0/dist/echarts.min.js"></script>-->
		 <link rel="stylesheet" href="assets/utils.css" />
	</head>

	<body>
		<slot />
	</body><!--	<Footer />-->
</html>

<style>

	html, body {
		margin: 0;
		padding: 0;
		height: 100vh;
		width: 100vw;
		background-color: #f7fafc;
		font-family:  Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;  
	}

</style>

